{{> header}}

<div class="content">
    <form class="form" id="formRegister" action="#/register" method="post">
        <label>Username</label>
        <label>
            <input name="username" type="text">
        </label>
        <label>Password</label>
        <label>
            <input name="password" type="password">
        </label>
        <label>Repeat Password</label>
        <label>
            <input name="repeatPass" type="password">
        </label>
        <input id="btnRegister" type="submit" value="Register">
        <a href="#">Log in</a>
    </form>
</div>

{{> footer}}