{{> header}}

<div class="wrapper">
    <div id="left">
        <div id="showcase">
            <div class="showcase-content">
                <h1 class="showcase-text">
                    Welcome to the only place where balkans <strong>aren't fighting.</strong>
                </h1>
                <h3 class="showcase-description">Create account or enter existing one.</h3>
                <a href="#/register" class="secondary-btn">Register</a>
            </div>
        </div>
    </div>
    <div id="right">
        <div id="signin">
            <h1 class="login-text">Login</h1>
            <form id="formLogin" class="form" action="#/login" method="post">
                <div>
                    <label>
                        <input name="username" type="text" class="text-input" required placeholder="Username"/>
                    </label>
                </div>
                <div>
                    <label>
                        <input name="password" id="pwd" type="password" class="text-input" autocomplete="off" required placeholder="Password"/>
                    </label>
                    <label>
                        <input type="checkbox">
                        <span></span>
                        <small class="rmb">Remember me</small>
                    </label>
                </div>
                <button id="btnLogin" class="primary-btn" type="submit" value="Sign In">Login</button>
            </form>
        </div>
    </div>
</div>

{{> footer}}